form .avatar {
    width: 20%;
}
.container-avatar {
    display: inline-block;
   width: 45px;

}

.container-avatar img {
    border-radius: 900px;
    height: 45px;
}

.header-options{
    display: inline;
    width: 50%;
}

.options{
    display: inline;
    width: auto;
    float: right;
    text-align: right;
}

