form .avatar {
    width: 20%;
}
.container-avatar {
    display: inline-block;
   width: 45px;

}

.container-avatar img {
    border-radius: 900px;
    height: 45px;
}

.header-options{
    display: inline;
    width: 50%;
}

.options{
    display: inline;
    width: auto;
    float: right;
    text-align: right;
}

.container-publication{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.nickname-publication{
    display: inline-block;
}

.image-publication{
    margin: auto;
    height: 100%;
    width: 100%;
}

.likes img{
    width: 30px;

}


.likes{
    padding-top: 4px;
}


.comments{
float: right;
}

